* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

:root {
  --max-width: 1440px;
}

html {
  background-color: #000;
}

body {
  overscroll-behavior: none;
  color: white;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.line__container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--max-width);
  height: 100vh;
  overflow: hidden;
}

.separator {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.140);

  &:nth-child(1) {
    left: 25%;
  }

  &:nth-child(2) {
    left: 50%;
  }
  
  &:nth-child(3) {
    left: 75%;
  }
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section {
  width: 100%;
}


/* Hero */
#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: min-content;
}

.hero__container {
  height: 100vh;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.hero__title {
  overflow: hidden;
}

.hero__title__header {
  font-size: clamp(2rem, 20cqi, 20rem);
  letter-spacing: -.05em;
  margin-bottom: 2rem;
}


/* About */
#about {
  display: flex;
  justify-content: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
}

.about__text {
  text-align: center;
  width: 45%;
  margin: auto;
  text-transform: uppercase;
  text-wrap: balance;
  font-size: 1.4rem;
  letter-spacing: -.05em; 
}


/* Video */
#video {
  display: flex;
  justify-content: center;
  min-height: 200vh;
}

.video__sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(.5);
}