* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  box-sizing: border-box;
}

:root {
  --max-width: 1440px;
}

html,
body {
  background-color: #000;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  color: white
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.line__container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.separator {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.140);

  &:nth-child(1) {
    left: 25%;
  }

  &:nth-child(2) {
    left: 50%;
  }

  &:nth-child(3) {
    left: 75%;
  }
}

main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.scroll__container {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


/* Hero */
#hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.hero__container {
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.hero__title {
  overflow: hidden;
}

.hero__title__header {
  font-size: clamp(2rem, 20cqi, 20rem);
  letter-spacing: -.05em;
  margin-bottom: 2rem;
  overflow: hidden;
}


/* About */
#about {
  display: flex;
  justify-content: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  min-height: 100vh;
}

.about__text {
  text-align: center;
  width: 45%;
  margin: auto;
  text-transform: uppercase;
  text-wrap: balance;
  font-size: 1.4rem;
  letter-spacing: -.05em;
}


/* Video */
#video {
  display: flex;
  justify-content: center;
  height: 200%
}

.shim {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.video__sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50%;
}

.main__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(.5);
}

.video__text__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: clamp(1.5rem, 10cqi, 10rem);
  font-weight: 800;
  overflow: hidden;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}


/* Projects */
#projects {
  position: relative;
  height: 200%;
}

.projects__sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50%;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects__slider {
  height: 100%;
  display: flex;
  width: max-content;
  overflow: hidden;
  will-change: transform;
}

.project {
  position: relative;
  width: 25vw;
  height: 100%;
  padding: 80px 20px 60px;
  display: flex;
  flex-direction: column;
}

.image__container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: .25rem;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(50%);
}

.start {
  justify-content: flex-start;
}

.mid {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.project__details {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  font-size: .875rem;
}